*.aux
*.log
*.blg
*.bbl
*.DS_Store
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.out
*.exe

*.pyc
*.class

html/
latex/

.coverage
bin/


# Created by https://www.gitignore.io/api/c,c++,visualstudio,visualstudiocode
# Edit at https://www.gitignore.io/?templates=c,c++,visualstudio,visualstudiocode

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.elf




