*.aux
*.log
*.blg
*.bbl
*.DS_Store
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.out

*.pyc
*.class

html/
latex/

.coverage
bin/


# Created by https://www.gitignore.io/api/c,c++,visualstudio,visualstudiocode
# Edit at https://www.gitignore.io/?templates=c,c++,visualstudio,visualstudiocode

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# The following is from https://github.com/github/gitignore/blob/master/Global/Emacs.gitignore

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

